#collections {
  position: relative;
}

.rings {
  position: absolute;
  height: 300px;
  width: 350px;
  border-radius: 4px;
  overflow: hidden;
  top: 150px;

  left: 0;
  right: 400px;
  margin-left: auto;
  margin-right: auto;
  /* background-color: black; */
}

.rings img {
  height: 320px;
  width: auto;
  cursor: pointer;
}

.earrings {
  position: absolute;
  height: 300px;
  width: 350px;
  border-radius: 4px;
  overflow: hidden;
  /* bottom: 150px; */
  top: 150px;

  left: 400px;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

.earrings img {
  height: 320px;
  width: auto;
  cursor: pointer;
}
