form {
  /* border: 2px solid var(--primary-color); */
  /* margin-top: 10rem; */
  /* backdrop-filter: blur(15px); */
  width: 600px;

  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  /* box-shadow: var(--box-shadow); */
}

form h1 {
  color: var(--primary-color);
  margin-bottom: -10px;
}

input::placeholder {
  color: var(--primarylight-color);
  font-size: 0.9rem;
}
textarea::placeholder {
  color: var(--primarylight-color);
  font-size: 0.9rem;
}

input,
textarea {
  width: 100%;
  padding: 1.2rem;
  /* border-radius: 1.6rem; */
  resize: none;
  border: 2px solid var(--primary-color);
  border-radius: var(--border-radius);
  background: transparent;
  color: var(--primary-color);
  font-size: 0.9rem;
}

.form-h1 {
  display: flex;
  flex-direction: column;

  justify-content: center;
  position: relative;
  width: 154px;
}

.form-h1 svg {
  position: absolute;
  bottom: -24px;
  left: 0;
  font-size: 38px;
  color: var(--secondary-color);
}
