* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

:root {
  --primary-color: #a58f53;
  --secondary-color: #708373;
  --btn-color: #692228;
  --box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
}
