@import url("https://fonts.googleapis.com/css2?family=El+Messiri:wght@400;500;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

:root {
  --primary-color: #a58f53;
  --primarylight-color: #dbd1b8;
  --secondary-color: #719d78;
  --accent-color: #692228;
  --box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
  --transition: all 400ms ease;
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  display: none;
}

section {
  margin-top: 20rem;
  min-height: 100vh;
}

h1 {
  font-family: "El Messiri", sans-serif;
  font-weight: 700;
  font-size: 32px;
}
